<%= render partial: 'shared/display_title_btns', locals: {title: 'Requirements'} %>
<br>
<p>The goal is to build an interface using Rails to view these invoices. 
Two json files will be given. Developer has to load the data from file to database. One file has a list of invoices and the other file has a list of amounts collected against those invoices. Here is an indicative mockup of how the interface should be. </p>
Invoice list</br><br>
<%= image_tag("invoicelist.png", {size: "550x300"}) %>
</br>
</br>
Invoice view </br>
<%= image_tag("invoice-view.png", {size: "500x300"}) %>

