<div id="feedback">
  <%= link_to(image_tag( "feedback", {alt: "Feedback", title: "Feedback Button" ,size: "20x70" }) + "", 
  'javascript:void(0);', data: {title: 'Feedback Form', url: new_feedback_path}, class: 'btn btn-info btn-lg js_load_modal_popup' ) %> 
</div>
