<div class="panel panel-primary">
	<div class="panel-heading">
		<i class="fa fa-pencil-square-o" aria-hidden="true"></i><b> Response </b>
	</div>
	<div class="panel-body">
	<%= response %>
	</div>    
</div>